rect:active {
	fill: 'orange';
}
.axis path,
.axis line {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
	stroke-width: 1;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
	fill: white;
}
