body {
    padding-top: 70px;
    /*background: #eee8d5 url('../img/noise.png');*/
}

code, .tagcloud {
    background: #eee8d5;
}

.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar a {
    font-family: 'Patua One', cursive;
}
p, div {
    font-family: 'Bitter', serif;
}
article h2 {
    margin-top: 0px;
}

.post-info span {
    margin-right: 15px;
}

.tagcloud li {
    border: 0px;
}
.tag-0 {
    font-size: 16pt;
}
.tag-1 {
    font-size: 13pt;
}
.tag-2 {
    font-size: 10pt;
}
.tag-3 {
    font-size: 8pt;
}
.tag-4 {
    font-size: 6pt;
}

#sidebar {
    padding-top: 0px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#sidebar a {
    color: inherit;
}
#categories .list-group-item {
    padding: .1px;
}

.list-group-item.active h4 {
    color: white;
}

.icon-label {
    margin-left: 5px;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}
.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}
.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}
.highlighttable {
    width: 100%;
}
#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

.tagcloud li {
    padding: 0px;
}

footer {
    padding-bottom: 20px;
}
footer.post-info {
    padding-bottom: 0px;
}

header.page-header {
    margin-top: 0px;
    border-bottom: 1px solid #002b36;
}

pre {
    padding: 0px;
    margin-top: 10px;
}
div.highlight {
    margin-top: 10px;
}
.highlight pre {
    padding: 10px;
}

div.input_area.box-flex1 {
    padding: 10px;
}

div.cell.border-box-sizing.code_cell.vbox {
    margin: 0px;
    padding: 0px;
}
div#tags.list-group.list-inline.tagcloud {
    padding: 10px;
}

/* Global image style */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* Map tiles */
#map img {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
}

i {
    margin-right: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
